extends baseoff
block content
            .background052
                .opener052 
                .envelope052
                    .letter052
                        .letterList052
                            img(src="/src/views/img/편지 끄적.png", alt="" width="200px" height="120px")
                        .left052 
                        .right052 
                        .bottom052
                    span.warn052 편지가 열렸어요!