extends base
block content
    .background02
        .modal02 
            span.pinkSpan 편지를 쓸 꽃병의 
            span.pinkSpan2 비밀코드가 필요해요
            h3.inputName 비밀코드
            input.code2
            button.okBtn 확인