extends baseoff
block content				
    .background04
        .hamburgerBtn04 
            .high04 
            .mid04
            .low04
        .vaseCon04 
            img(src="./view/img/vase.jpg")
            span.who04 대현 님의 꽃병
        button.save04 사진저장!
        .menu04 
            header.mHeader04
            .content04 
                .profile04
                    .head04
                    .body04
                span.name04 무궁화
                button.loginBtn04 로그인하기
            footer.mFooter04
                .infoBtn04
                    img(id="listImg04" src="/src/views/img/list_icon.png", alt="")
                .whoBtn04
                    img(id="questionImg04" src="/src/views/img/question_icon.png", alt="")