extends baseoff
block content
        .background
                .letterdiv 
                    .xbtn
                        .xline1 
                        .xline2
                    .leftBtn
                        .leftline1 
                        .leftline2
                    .letterbox         
                        textarea.note
                    .rightBtn
                        .rightline1 
                        .rightline2