extends baseoff
block content
        .background061
                .letterdiv 
                    .xbtn
                        .xline1 
                        .xline2
                    .leftBtn
                        .leftline1 
                        .leftline2
                    .letterbox
                        span.count 1/30
                        textarea.note
                    .rightBtn
                        .rightline1 
                        .rightline2
