extends baseOn
block style 
    include 2_1.css
block content
    .background
        .modal
            span.pink 꽃병을 만들려면
            span.pink2 로그인이 필요해요
            p.id 아이디
            input#id
            p.pw 비밀번호
            input#pw
            button.login 로그인
            button.nonAcc 계정이 없다면?
