body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  width: 368px;
  height: 796px;
  background-color: #fde7e2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.modal {
  width: 274px;
  height: 475px;
  background-color: #fff9f4;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 3px 1px #edc6c4;
}
.pink {
  color: #dd9292;
  margin-top: 15px;
  font-weight: bolder;
  font-size: small;
}
.pink2 {
  color: #dd9292;
  font-weight: bolder;
  font-size: small;
}
.id {
  color: #5e452a;
  font-weight: bolder;
  margin-top: 25px;
  margin-left: 60px;
}
.pw {
  color: #5e452a;
  font-weight: bolder;
  margin-left: 60px;
}
#id {
  border: 0;
  background-color: #e5e5e5;
  width: 210px;
  height: 35px;
  border-radius: 8px;
}
#pw {
  border: 0;
  background-color: #e5e5e5;
  width: 210px;
  height: 35px;
  border-radius: 8px;
}
.login {
  border: 0;
  background-color: #dd9292;
  color: #fff9f4;
  border-radius: 8px;
  width: 68px;
  height: 35px;
  margin-top: 30px;
  font-weight: bolder;
  width: 120px;
  height: 60px;
}

.nonAcc {
  border: 0;
  background-color: #dd9292;
  color: #fff9f4;
  width: 180px;
  height: 95px;
  border-radius: 8px;
  margin-top: 55px;
  font-weight: bolder;
}
