body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background22 {
  width: 368px;
  height: 796px;
  background-color: #fde7e2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.modal22 {
  width: 274px;
  height: 475px;
  background-color: #fff9f4;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pinkSpan22 {
  color: #dd9292;
  margin-top: 40px;
  font-size: large;
  font-weight: bolder;
}
.id22 {
  color: #5e452a;
  font-weight: border;
  font-size: large;
  margin-left: 60px;
}
.pw22 {
  color: #5e452a;
  font-weight: border;
  font-size: large;
  margin-left: 60px;
}
.nick22 {
  color: #5e452a;
  font-weight: border;
  font-size: large;
  margin-left: 60px;
}
#id22 {
  border: 0;
  background-color: #e5e5e5;
  height: 35px;
  width: 220px;
  border-radius: 8px;
}
#pw22 {
  border: 0;
  background-color: #e5e5e5;
  height: 35px;
  width: 220px;
  border-radius: 8px;
}
#nick22 {
  border: 0;
  background-color: #e5e5e5;
  height: 35px;
  width: 220px;
  border-radius: 8px;
}
.make22 {
  border: 0;
  height: 35px;
  background-color: #dd9292;
  margin-top: 40px;
  border-radius: 8px;
  width: 130px;
  height: 50px;
  color: #fff9f4;
  font-size: medium;
}
