extends baseOn
block style 
    include 2_2.css
block content
    .background22
        .modal22
            span.pinkSpan22 계정 만들기
            p.id22 아이디
            input#id22
            p.pw22 비밀번호
            input#pw22
            p.nick22 닉네임
            input#nick22
            button.make22 만들기