extends baseOn
block style 
    include 3_1.css
block content
    .background31
    .hamburger31
        #high31
        #mid31
        #low31
    .boxTop31
        span.topWhiteSpan31 롤링 페이퍼를 만드려면?
        span.topBrownSpan31 꽃병
        span.topBrownSpan31 만들기
    .boxBottom31
        span.bottomWhiteSpan31 링크에 초대 되었다면?
        span.bottomBrownSpan31 편지
        span.bottomBrownSpan31 쓰기