extends baseOn
block content
    .background41
    .modal41
        span.owner41 편지의 주인공은?
        input.name41
        button.next41 다음>
        .dote41
        nav.dote141
        nav.dote241
        nav.dote341