extends baseOn
block style 
    include 4_1.css
block content
    .background41
        .modal41
            span.owner41 편지의 주인공은?
            .formCss
                form.place41(action="2" method="POST") 
                    input.name41(type="text" required name="name")
                    button.next41 다음 > 
            .dote41
                nav.dote141
                nav.dote241
                nav.dote341