extends baseOn
block style 
    include 4_2.css
block content
    .background42
        .modal42
            span.birth42 요한 님의 생일은?
            form
                .date42
                    .box42
                        input.month42(type='number')
                        span.monthSpan42 월
                        input.day42(type='number')
                        span.daySpan42 일
                    button.next42 다음
            .dote42
                nav.dote142
                av.dote242
                nav.dote342