extends baseOn
block style 
    include 4_3.css
block content
    .background43
        .modal43
            span.flowerSpan43 요한님의 탄생화는
            form(action="4" method="POST") 
                .flower43
                    p.flowerP43 수선화
                    p.flowerP243 예요
                    span.ask43 이 꽃으로 편지를 쓸까요?
                    .circle43
                    button.next43_1(name="flowerType" value="dafault") 네!

            button.next43 다른 꽃 선택하기
            .dote43
                nav.dote143
                nav.dote243
                nav.dote343