extends baseOn 
block style 
    include 4_4.css

block content 
    .background44
        .modal44
            .box44
            .arrow <
            span.ask44 어떤 꽃으로 편지를 쓸까요?
            .circle44