extends baseOn 
block style 
    include 5.css

block content 
    .background5
        .modal5
            span.ask5 편지를 쓸 꽃병의
            span.ask25 비밀코드가 필요해요
            span.code5 비밀코드
            input.code