extends base
block content 
    h1 hello
        form
            input.id(type="text" name="username" placeholder="username")
            input(type="submit") 
            br
            input.pw(type="password" name="password" placeholder="password")
            input(type="submit") 
        a(href="/join")
        